PROJECT_NAME=movies
GUNICORN_WORKERS=2
OTEL_ENABLED=True
OTEL_REQUEST_ID_REQUIRED=True
OTEL_SERVICE_NAME=movies

REDIS_MAXMEMORY=512m

ELASTICSEARCH_HEAP_SIZE=512m

POSTGRESQL_DATABASE=movies
POSTGRESQL_USERNAME=movies
POSTGRESQL_PASSWORD=

AUTH_GUNICORN_WORKERS=2
AUTH_SECRET_KEY=
AUTH_ACCESS_JWT_LIFETIME
AUTH_REFRESH_JWT_LIFETIME
AUTH_SQL_ECHO=True
AUTH_OAUTH_GOOGLE_CLIENT_ID=
AUTH_OAUTH_GOOGLE_CLIENT_SECRET=
AUTH_OTEL_SERVICE_NAME=auth
AUTH_SUPERUSER_LOGIN=admin
AUTH_SUPERUSER_PASSWORD=

AUTH_POSTGRESQL_DATABASE=auth
AUTH_POSTGRESQL_USERNAME=auth
AUTH_POSTGRESQL_PASSWORD=

AUTH_REDIS_MAXMEMORY=512m

RATELIMITER_TIMES=5
RATELIMITER_SECONDS=60
